      <div class="sidebar">
        <div class="sidebar__body">
          <p>Totem is een blog over fantasy en aanverwante genres in het Nederlands.</p>
          <p>Door Tom Kruijsen.</p>
        </div>
      </div>
    </div>
  </body>
</html>
