<html>
  <head>
    <title>Bookblog | {{attributes.title}}</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300,100' rel='stylesheet' type='text/css'>
    <link href="/assets/style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>Totem</h1>
      <p class='header__subtitle'>Fantasy boekenblog</p>
    </header>
    <div class='main'>
