<html>
  <head>
    <title>Bookblog | {{attributes.title}}</title>
    <link href="/assets/style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>Totem</h1>
      <p>Fantasy boekenblog</p>
    </header>
