.main {
  max-width: 1100px;
  margin: 40px auto;
}

.sidebar {
  background: white;
  max-width: 750px;
  margin: 40px auto;
  @media (min-width: 1200px) {
    width: 300px;
    float: right;
  }
  border: 1px solid #f0f0f0;
}

.sidebar__body {
  padding: 10px 20px;
}
